@font-face {
  font-family: 'Noah';
  src: local('Noahbold'), url(./assets/font/Noahbold.woff) format('woff');
}

body {
  margin: 0;
  font-family: 'Noah';
  background-color: #5e6b7e;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
